html{
    display: inline-block;
}


body#index{
    background-color: rgb(156, 145, 145);
    padding-top: 350px;
    display: inline-block;
    margin: auto;
    padding-left: 300px;
}

body#index h1{
    background-color: rgb(65, 64, 64);
    display: inline-block;
    padding: 30px;
    margin: auto;
    border-style: groove;
    border-radius: 30px;
    font-size: 50px;

   
}

body#index a{
    color: white;
}

body#index a:link{
    text-decoration: none;
}

body#index a:hover{
    color: black;
}

html{
   background-color: rgb(156, 145, 145); 
   color: white;
}

h1{
      background-color: rgb(65, 64, 64);
    padding: 1px;
    margin: auto;
    border-style: groove;
    border-radius: 30px;  
    text-align: center;
    color: white;
    font-size: 60px;
}

h1#home{
      background-color: rgb(65, 64, 64);
    padding: 20px;
    margin: auto;
    border-style: groove;
    border-radius: 30px;  
    text-align: center;
    color: white;
    font-size: 70px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(65, 64, 64);
        border-style: groove;
    border-radius: 30px;  
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

body a{
    color: white;
    
}

body a:link{
    text-decoration:none;
}

body a:hover{
    color: black;
}

h2{
      background-color: rgb(65, 64, 64);
    padding: 8px;
    margin: auto;
    border-style: groove;
    border-radius: 30px;  
    text-align: center;
    color: white;
    font-size: 40px; 
    margin-bottom: -30px;
}

ul{
    background-color: rgb(28, 28, 28);
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    font-size: 30px;
    display: block;
    border-style: groove;
    border-radius: 30px;  
    margin-bottom: 30px; 
    padding-bottom: 30px;
}

p{
        background-color: rgb(28, 28, 28);
    padding: 30px;
    color: white;
    font-size: 30px;
    display: block;
    border-style: groove;
    border-radius: 30px;

    text-align: center;
    

}

ol{

    background-color: rgb(28, 28, 28);
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size: 30px;
    display: block;
    border-style: groove;
    border-radius: 30px;  
    margin-bottom: 30px;
    

}